body {
  margin: 0;
  padding: 0;
  background: #000000;
}

canvas {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#controllers {
  position: fixed;
  top: 10px;
  left: 10px;
  text-align: center;
}

.button {
  background: #000000;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 10px;
  border-radius: 5px;
}
